.custom-container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  transition: background-position 0.5s ease-in-out;
}

.scrolled {
  background-position: center calc(50% + 100px); 
}

.custom-content {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.5s ease-in-out;
  opacity: 1;
  background-color: white !important;
  columns: 2;
}

.scrolled .custom-content {
  transform: translateY(-50px);
}

.title-home {
    text-align:left;
    text-justify: inter-word;
    margin: 1rem;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .subtitle-home {
    text-align: justify;
    text-justify: inter-word;
    margin: 1rem;
    font-size: 1.5rem;
    color: #333;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .paragraph-home{
    text-align: justify;
    text-justify: inter-word;
    margin: 1rem 0;
    line-height: 1.5;
    color: #555;
    margin-left: 30px;
    margin-right: 30px;
  }

  .background-container {
    position: relative;
  }
  
  .overlay-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center; 
    max-width: 600px; 
    padding: 20px;
    border:  solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 1.0);
  }


#background-h1{
  color: #c63e2d;
}

#background-h2{
  margin-top: 80px;
  color: #c63e2d;
}



  

