.nav-flex{
    display: flex;
    justify-content: flex-end;
     margin: 0;
}

#navbar{
    width: 100%;
    background-color: rgb(255, 254, 254);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
}

.link{
    padding-right: 30px;
    font-size: 15px;
    color: #000000;
    transition: 0.3s;
    text-decoration: none;
    font-weight: 7;
}
