
.component-footer {
    border-top: 1px solid #aab1b8; 
    padding-left: 10px; 
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px; 
}


.footer-column {
    margin-top: 20px;
    flex: 1;
    margin-right: 20px;
    font-family: 'Open Sans', Arial;
    align-items: center; 
    text-align: center;
}

.footer-column h3 {
    color: #cc0000;
    font-size: 12.0pt; 
    font-weight: 700; 
    margin-bottom: 10px;
}


.footer-column h4 {
    color: #000000;
    font-size: 13px; 
}

.location-card {
    border: 0;
    margin-top: 15px;
    width: 250px;
    height: 200px;
    cursor: pointer;
}


.footer-column ul {
   
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    list-style-type: square;
}


li {
    font-family: 'Open Sans', Arial; 
    font-size: 14px;
}

li::before {
    width: 4px;
    height: 4px; 
}

.li-name{
    font-weight: 700; 
}

.footer-column a{
    color: #000000;
}